@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100vw;
	overflow-x: hidden;
}

body {
	font-family: 'Reddit Sans', sans-serif;
	background-color: #041026;
	display: flex;
	flex-direction: column;

	background: radial-gradient(
		circle at center,
		rgba(12, 34, 56, 0.7),
		rgba(48, 24, 72, 0.85) 40%,
		rgba(0, 0, 0, 0.9) 80%
	);
	background-position: center;
	background-repeat: no-repeat;
}

.content {
	max-width: 1200px;
	margin: 0 auto;
}

nav {
	height: 100px;
	background-color: #d9d9d918;
	padding: 40px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	ul {
		font-size: 20px;
		list-style: none;
		display: flex;
		align-items: center;
		gap: 50px;

		li > a {
			color: #fff;
			text-decoration: none;
			padding: 10px;
			transition: background-color 0.3s ease, color 0.3s ease;
		}
	}

	.menu-nav a:hover {
		cursor: pointer;
		color: #fff;
		background-color: #7f35ff;
	}

	button {
		background-color: #7f35ff;
		color: #fff;
		font-size: 15px;
		font-weight: bold;
		text-transform: uppercase;
		height: 50px;
		width: 154px;
		border-radius: 3px 29px;
		border: none;

		&:hover {
			cursor: pointer;
			color: #fff;
			background-color: #af83fa;

			box-shadow: 0 0 4px #ba9cee;
		}
	}
}

.main-section {
	width: 100%;
	height: 735px;
	display: flex;
	justify-content: space-evenly;
	padding: 50px;

	.img-content {
		border-radius: 20px;
	}

	.card-aside {
		height: 640px;
		width: 340px;
		color: #fff;
		padding: 70px;
		background-color: #d9d9d918;
		border-radius: 38px;
		display: flex;
		flex-direction: column;
		gap: 20px;

		p {
			color: #ffffff9c;
		}

		h3 {
			margin-bottom: 5px;
			font-weight: bold;
		}
	}
}

.info-card-aside {
	display: flex;
	color: #ffffff9c;
}

.info-card-aside > a {
	cursor: pointer;
	color: #ffffff9c;
	text-decoration: none;
}

.info-card-aside > a:hover {
	color: #fff;
}

.links {
	display: flex;
	gap: 5px;
}

.links a:hover {
	color: #fff;
	transition: color 0.3s ease;
}

.main-section > aside {
	display: flex;
	justify-content: flex-end;
}

.images-box {
	display: flex;
	flex-direction: column;
	width: 70%;
}

.img-content:hover {
	transform: scale(1.2);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.images-box > .img-content:first-child {
	position: relative;
	left: 250px;
	transition: transform 0.3s ease;
}

.images-box > .img-content:first-child:hover {
	transform: scale(1.2);
	z-index: 99;
}

.images-box > .img-content:nth-child(2) {
	position: relative;
	bottom: 50px;
	transition: transform 0.3s ease;
}

.images-box > .img-content:nth-child(2):hover {
	transform: scale(1.2);
	z-index: 99;
}

.images-box > .img-content:last-child {
	position: relative;
	left: 280px;
	bottom: 120px;
	transition: transform 0.3s ease;
}

.images-box > .img-content:last-child:hover {
	transform: scale(1.2);
}

.name-section {
	height: 575px;
	min-height: 575px;
	display: flex;
	align-items: center;
	background-color: #af83fa;
	text-align: center;
}

.name-section-content {
	max-width: 1200px;
	margin: 0 auto;
}

.name-section-content > p {
	font-family: 'Alkatra', system-ui;
	font-size: 20rem;
	line-height: 100%;
	font-weight: 700;
	color: #35428c4d;
}

/* .name-section-content > h2 {
  position: relative;
  top: 90px;
} */

.resume-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
}

.resume-text {
	text-align: center;
	font-size: 18px;
	color: #ffffffda;
	width: 800px;
	line-height: 28px;
}

.resume-text > h3 {
	font-size: 28px;
	margin-bottom: 20px;
}

.champ-hability-content {
	margin: 50px 0;
	display: flex;
	gap: 15px;
}

.champ-hability {
	border: 3px solid #7f35ff;
	border-radius: 10px;
}

.champ-hability:hover {
	transform: scale(1.2);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
	transition: transform 0.3s ease;
}

.champ-hability-button {
	background-color: #7f35ff;
	color: #fff;
	font-size: 17px;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	text-transform: uppercase;
	height: 50px;
	width: 350px;
	border-radius: 3px 29px;
	border: none;
}

.champ-hability-button:hover {
	color: #fff;
	box-shadow: 0 0 10px #ba9cee;
	background-color: #af83fa;
	transition: background-color 0.2s ease;
}

img.img-bg {
	position: relative;
	top: 500px;
	right: 85%;
	z-index: -1;
	opacity: 0.2;
}

footer {
	text-align: center;
	color: #959292;
}

.infos-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	display: block;
}

.line {
	height: 0.5px;
	width: 100%;
	background-color: #9592921c;
}

.social-media-icons {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 15px;
	padding: 20px;
}
